<!-- this is a partial -->
<head>
    <title>xBOT - INFO</title>

    <style> 
    html {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
    }
    a {

        color: white

    }
    </style>

</head>

<h1>xBOT</h1>

<p>An easy to use, yet advanced bot.</p>

<h2>Links</h1>
<a href="https://trello.com/b/5QonRmtn/xbot">Trello</a>

<br />

<h2> Modules. </h1>

<ul>
<li><p>admin</p></li>
<p>All bot admin commands are in this module. &nbsp;This module could be loaded with the 'bot load' command.</p>
<li><p>default</p></li>
<p>Leave this in the defaultmodules array! &nbsp;This module has the bot.js file which is pretty essential if you want to load modules while the bot is live.</p>
<li><p>economy</p></li>
<p>$$$! &nbsp;dolla dolla bills! &nbsp;This module is for the economy in the bot! &nbsp;The module uses the 'main.db' database!</p>
<li><p>fun</p></li>
<p>fun stuff. &nbsp; just some stuff that is not nessecary but is fun to use. </p>
<li><p>mod</p></li>
<p>Moderation commands...&nbsp; pretty useful.</p>
<li><p>other</p></li>
<p>help command, say command, ping command.</p>
<li><p>hue</p></li>
<p>hue commands!</p>
</ul>

<br />
<div id="Commands">
    <h2> Commands. </h2>
    <p>add your prefix before the command. </p>
    <p>you can always add -h after a command to see what it does </p>
    <table>
        <tr>
            <!--top-->
            <th>Command</th>
            <th>Aliases</th>
            <th>Description</th>

        </tr>
        <tr>
            <td>balance</td>
            <td>bal</td>
            <td>shows your balance</td>
        </tr>
        <tr>
            <td>ban &lt;user&gt;</td>
            <td>N/A</td>
            <td>Bans the specified user.</td>
        </tr>
        <tr>
            <td>beg</td>
            <td>N/A</td>
            <td>Beg for money</td>
        </tr>
        <tr>
            <td>bet</td>
            <td>N/A</td>
            <td>Bet money on a coin flip (be sure to spell it without mistakes)</td>
        </tr>
        <tr>
            <td>info [changelog]</td>
            <td>N/A</td>
            <td>Shows bot info or the changelog</td>
        </tr>
        <tr>
            <td>bot load &lt;module to be loaded / all&gt;</td>
            <td>N/A</td>
            <td>Loads the specified module.</td>
        </tr>
        <tr>
            <td>bot set &lt;property&gt; &lt;string/bool/array&gt;</td>
            <td>N/A</td>
            <td>change properties from the "global.json" file.</td>
        </tr>
        <tr>
            <td>cringe</td>
            <td>facepalm</td>
            <td>Gets a post from r/cringe.</td>
        </tr>
        <tr>
            <td>coinflip</td>
            <td>N/A</td>
            <td>Flip a coin.</td>
        </tr>
        <tr>
            <td>del &lt;1-99&gt;</td>
            <td>purge, delete</td>
            <td>deletes up to 100 messages.</td>
        </tr>
        <tr>
            <td>dropeco</td>
            <td>N/A</td>
            <td>Removes the entire eco table.</td>
        </tr>
        <tr>
            <td>eval &lt;code&gt;</td>
            <td>N/A</td>
            <td>Yes, i know. Just delete it. It's there just because.</td>
        </tr>
        <tr>
            <td>exit</td>
            <td>stop</td>
            <td>stops the node process.</td>
        </tr>
        <tr>
            <td>give</td>
            <td>N/A</td>
            <td>Give money to someone.</td>
        </tr>
        <tr>
            <td>hash &lt;string&gt;</td>
            <td>N/A</td>
            <td>Hashes your string in multiple algorithms.</td>
        </tr>
        <tr>
            <td>kick &lt;user&gt;</td>
            <td>N/A</td>
            <td>Kicks the specified user.</td>
        </tr>
        <tr>
            <td>melt &lt;amount&gt;</td>
            <td>destroy, drop</td>
            <td>remove money from your pocket</td>
        </tr>
        <tr>
            <td>meme</td>
            <td>N/A</td>
            <td>Gets a post from r/memes</td>
        </tr>
        <tr>
            <td>nuke &lt;server/channel&gt;</td>
            <td>N/A</td>
            <td>Nukes a server or channel.</td>
        </tr>
        <tr>
            <td>numgen</td>
            <td>N/A</td>
            <td>Generate a "random" number between 0 & 1000.</td>
        </tr>
        <tr>
            <td>ping</td>
            <td>N/A</td>
            <td>pong</td>
        </tr>
        <tr>
            <td>presence &lt;presence&gt; &lt;doing what&gt;</td>
            <td>N/A</td>
            <td>changes the presence</td>
        </tr>
        <tr>
            <td>say &lt;text&gt;</td>
            <td>N/A</td>
            <td>Let the bot speak</td>
        </tr>
        <tr>
            <td>setprefix &lt;new prefix&gt;</td>
            <td>N/A</td>
            <td>changes the prefix</td>
        </tr>
        <tr>
            <td>steal &lt;person&gt;</td>
            <td>rob, loot</td>
            <td>steal from someone.</td>
        </tr>
        <tr>
            <td>time</td>
            <td>N/A</td>
            <td>Show the time.</td>
        </tr>
        <tr>

            <td>uptime</td>
            <td>N/A</td>
            <td>Show the uptime of the bot.</td>

        </tr>

    </table>

</div>