<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <title><%= title %> </title>

        <style>
            body {
                font-family: 'Roboto', sans-serif;
            }
            .bold {
                font-weight: bold;
            }
        </style>
    </head>
    <body class="container">
        <h1>Bot API</h1>

        <p>Welcome to the API!</p>
        <p>You can't use the API with a regular browser.</p>
    </body>
</html>